* {
    box-sizing: border-box;
}

div {
    /*border: 1px solid black;*/
}

body {
}

#frame {
    width: 810px;
    height: 610px;
    margin: auto;
    position: absolute;
    top: 0;bottom: 0;right: 0;left: 0;
    border: 5px solid black;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #cccccc;
}

#squares {
    height: 600px;
    width: 600px;
    position: absolute;
    right: 0;
    box-shadow:  -3px -3px 10px gray;
}

.color-square {
    width: 300px;
    height: 300px;
    float: left;
    opacity: 1;
}

.afterStart:active {
    opacity: 0.6;
}

.color-square:nth-child(1){
    background-color: red;
}

.color-square:nth-child(2) {
    background-color: cadetblue;
}

.color-square:nth-child(3) {
    background-color: darkgreen;
}

.color-square:nth-child(4) {
    background-color: gold;
}


#control-panel {
    height: 600px;
    width: 200px;
    position: absolute;
    background-color: #ffffff;
    box-shadow:  -3px -3px 10px gray;
    /*left: 0;*/
}

#title {
    text-align: center;
    font-size: 2.5em;
    font-family: 'Griffy', cursive;
}

#count,#start,#strict,#on-off {
    position: relative;
    height: 50px;
    margin-top: 20px;
    margin-left: 10px;
    font-family: 'Griffy', cursive;
    font-size: 28px;
    line-height: 50px;
}

#count {
    margin-top: 60px;
}


button {
    outline: none;
}

#start button {
    height: 40px;
    width: 40px;
    /*border: 3px solid black;*/
    border-radius: 50%;
    background-color: red;
    position: absolute;
    left: 100px;
    top: 5px;
}

/* The switch - the box around the slider */

.switch {
    position: absolute;
    display: inline-block;
    width: 70px;
    height: 40px;
    top: 4px;
    left: 90px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 32px;
    width: 32px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

#strict input:checked + .slider {
    background-color: #f3ed3b;
}

#strict input:focus + .slider {
    box-shadow: 0 0 1px #f3ed3b;
}

input:checked + .slider:before {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 40px;
}

.slider.round:before {
    border-radius: 50%;
}